# Pandas Exercise 1

In [1]:
import pandas as pd

In [2]:
names = ["Erika Schumacher", "Javi López", "Maria Rovira", "Ana Garamond", 
         "Shekhar Biswas", "Muriel Adams", "Saira Polom", "Alex Edwin", 
         "Kit Ching", "Dog Woof"]
ages = [22, 50, 23, 29, 44, 30, 25, 71, 35, 2]
nations = ["DE", "ES", "ES", "ES", "IN", "DE", "IN", "UK", "UK", "XX"]
sibilings = [2, 0, 4, 1, 1, 2, 3, 7, 0, 9]
colors = ["Red", "Yellow", "Yellow", "Blue", "Red", "Yellow", "Blue", "Blue", "Red", "Gray"]



people = pd.DataFrame({"name":names,
                       "age":ages,
                       "country":nations,
                       "sibilings":sibilings,
                       "favourite_color":colors
                      })

people.head()
df=pd.DataFrame(people)

# E1: Filter the people and keep only the people from the UK

In [3]:
df.loc[df["country"] == "UK"]

         name  age country  sibilings favourite_color
7  Alex Edwin   71      UK          7            Blue
8   Kit Ching   35      UK          0             Red

# E2: Filter the people and keep only people from either UK or Germany

In [4]:
df.loc[(df["country"] == "UK") | (people["country"] == "DE")]

               name  age country  sibilings favourite_color
0  Erika Schumacher   22      DE          2             Red
5      Muriel Adams   30      DE          2          Yellow
7        Alex Edwin   71      UK          7            Blue
8         Kit Ching   35      UK          0             Red

# E3: Filter the people and keep only people from either UK or Germany, who have 2 or more siblings

In [5]:
df.loc[((people["country"] == "UK") | (people["country"] == "DE")) & (people["sibilings"] >= 2)]

               name  age country  sibilings favourite_color
0  Erika Schumacher   22      DE          2             Red
5      Muriel Adams   30      DE          2          Yellow
7        Alex Edwin   71      UK          7            Blue

# E4: select all people whose names contain( either in first name or surname) the letter p

In [6]:
df.loc[people["name"].str.contains("p",case=False)]

          name  age country  sibilings favourite_color
1   Javi López   50      ES          0          Yellow
6  Saira Polom   25      IN          3            Blue

# E5: select all people whose firstname and surname has more than 12 charachters

In [7]:
df.loc[people["name"].str.len() >12]

               name  age country  sibilings favourite_color
0  Erika Schumacher   22      DE          2             Red
4    Shekhar Biswas   44      IN          1             Red