# Exercise 2


1. read the csv file my_data.csv
### create a report about the csv file
- which columns
- which data types
- how many records 
- how many null records
- how many duplicated records
- where are the duplicated records --> indexes or the order ID of the duplicated recorrds
- Price each --> Min, Mean, Max
- Quantity Ordered --> Min, Mean, Max


### Data Preparation 
1. clean the empty records
2. remove the repeated records
3. correct the data types of the dataframe
4. remove the empty white spaces --> stripping of string columns
5. create a new column called "total", which is total = price each * quantity ordered
6. create 3x new columns --> day, month, year from the column "Order Date"
7. save the final dataframe into final.csv

In [1]:
#1. read the csv file my_data.csv

import pandas as pd
df=pd.read_csv("./my_data.csv")

# which columns
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [2]:
#which data types

df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [3]:
#how many records
#df.shape()
df.shape[0]
#df.shape[1]

186850

In [4]:
#how many null records
df.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [9]:
#how many duplicated records
# where are the duplicated records --> indexes or the order ID of the duplicated recorrds
for column in df:
    print(column, "-->", df[column].unique(), "\n")

Order ID --> ['176558' nan '176559' ... '259355' '259356' '259357']

Product --> ['USB-C Charging Cable' nan 'Bose SoundSport Headphones' 'Google Phone'
 'Wired Headphones' 'Macbook Pro Laptop' 'Lightning Charging Cable'
 '27in 4K Gaming Monitor' 'AA Batteries (4-pack)'
 'Apple Airpods Headphones' 'AAA Batteries (4-pack)' 'iPhone'
 'Flatscreen TV' '27in FHD Monitor' '20in Monitor' 'LG Dryer'
 'ThinkPad Laptop' 'Vareebadd Phone' 'LG Washing Machine'
 '34in Ultrawide Monitor' 'Product']

Quantity Ordered --> ['2' nan '1' '3' '5' 'Quantity Ordered' '4' '7' '6' '8' '9']

Price Each --> ['11.95' nan '99.99' '600' '11.99' '1700' '14.95' '389.99' '3.84' '150'
 '2.99' '700' '300' '149.99' '109.99' '600.0' '999.99' '400' '379.99'
 'Price Each' '700.0' '1700.0' '150.0' '300.0' '400.0']

Order Date --> ['04/19/19 08:46' nan '04/07/19 22:30' ... '09/23/19 07:39'
 '09/19/19 17:30' '09/30/19 00:18']

Purchase Address --> ['917 1st St, Dallas, TX 75001' nan '682 Chestnut St, Boston, MA 02215'
 ... '981 4th St, New York City, NY 10001'
 '840 Highland St, Los Angeles, CA 90001'
 '220 12th St, San Francisco, CA 94016']

In [6]:
#Price each --> Min, Mean, Max

df.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355

In [ ]:
# E2: create a python program (not juypter) to do the same using OOP